<template>
  <div>
    <h1 class="centralizado">{{ titulo }}</h1>
    <input type="search" class="filtro" @:input="filtro = $event.target.value" placeholder="Filtrar" />
    {{ filtro }}
    <ul class="lista-fotos">
      <li v-for="foto of fotosComFiltro " class="item-foto">
        <meu-painel :titulo="foto.titulo">        
          <imagem-responsiva :url="foto.url" :titulo="foto.titulo" />
          <meu-botao tipo="button" rotulo="REMOVER" @botaoAtivado="remove(foto)" :confirmacao="true" estilo="perigo" />
        </meu-painel>
      </li>
    </ul>
  </div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-responsiva/imagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';
export default {

  components: {
    'meu-painel': Painel
    ,'imagem-responsiva': ImagemResponsiva
    ,'meu-botao': Botao
  },

  data(){
    return {
      titulo: 'alurapick',
      fotos: [],
      filtro: ''
    }
  },
  created(){
    this.$http.get('http://localhost:3000/v1/fotos')
      .then(res => res.json())
      .then(fotos => this.fotos = fotos)
  },

  methods: {
    remove (foto) {
      alert('removendo imagem ' + foto.titulo);
    }
  },

  computed: {
    fotosComFiltro (){
      if(this.filtro){
        let exp = new RegExp(this.filtro.trim(), 'i');
        return this.fotos.filter(foto => exp.test(foto.titulo));
      }else{
        return this.fotos;
      }
    }
  }

}
</script>
<style>
  .centralizado{
    text-align: center;
  }
  .lista-fotos{
    list-style: none;
  }
  .lista-fotos .item-foto{
    display: inline-block;
  }
  .filtro{
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }
</style>
